<article>
	<h2 class="title_link"><a href='{{post.url}}'>{{post.title}}</a></h2>
	<div class="title_text hidden">{{post.title}}</div>
	<div class="date hidden">{{post.date | date_to_xmlschema }}</div>
	<div class="href hidden">{{post.url}}</div>
	<div class="content">
    {% if post.categories contains "enregistrements" %}
      <p><strong>{{post.name}}</strong> {{post.author}}</p>
    {% endif %}
		{{post.content | split: site.excerpt_separator | first }}
	</div>
	<div class="readmore-link">{% if post.content contains site.excerpt_separator %}<a href="{{post.url}}">Lire la suite...</a>{% endif %}</div>
	<div class="readmore hidden">{{post.content | split: site.excerpt_separator | last }}</div>
	<div class="category hidden">{% for category in post.categories %}{% if category != "posts" %}{{ category | replace:'"','\"'}}{% endif %}{% endfor %}</div>
</article>