*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
	outline: 0;
}

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
@mixin clearfix {
	&:after {
		content:'.';
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
}
$primary: #7e1600;
$primary-on-dark: lighten($primary, 15%); /*#bb3e00;*/
$darkgrey: #222;
$darkgrey-on-dark: #888;
$lightgrey-on-dark: #eee;

.hidden {
	display: none;
}

a {
  color: $primary;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
article h2 a {
	color: #373737;
}
article h2 a:hover {
	color: $primary;
	text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url(/images/vierge-vesperis-image-de-fond.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #373737;
}
body > .container {
  background: white;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
}
header {
  width: 100%;
  padding: 23px;
}
header > div {
  display: inline-block;
  vertical-align: middle;
}
header .avatar, header .avatar img {
  width: 80px;
  height: 80px;
}
header .title {
  margin: 0px 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .title h1 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: $darkgrey;
  font-size: 30px;
}
header .title p {
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0;
  color: #888;
}
.cover, .cover img {
  width: 100%;
  height: 288px;
}

nav {
  background: $darkgrey;
  background: linear-gradient(#252525, #0a0a0a);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
  padding: 0 0 0 44px;
  position: relative;
}
nav a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 16px 0 12px;
  color: $lightgrey-on-dark;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
nav a.active {
  font-weight: bold;
  color: $primary-on-dark;
}
nav a:hover {
  color: $darkgrey;
  background: #ddd;
  background: linear-gradient(#eee, #bbb);
  text-decoration: none;
}
nav a:hover.active {
  color: $primary;
}
nav .input {
  position: absolute;
  right: 56px;
  top: 7px;
  height: 26px;
  padding: 0 9px;
  border: 1px solid $darkgrey-on-dark;
  border-radius: 9px;
  z-index: 5;
}
nav .input img {
	float: left;
	width: 18px;
	margin-top:3px;
	background: $darkgrey-on-dark;
}
nav .input:hover img {
	background: $lightgrey-on-dark;
}
nav .input:hover input {
	width: 200px;
	-webkit-transition: width 0.8s; /* For Safari 3.1 to 6.0 */
	transition: width 0.8s;
}
nav input {
	float: left;
  height: 18px;
  width: 8em;
	-webkit-transition: width 0.8s; /* For Safari 3.1 to 6.0 */
	transition: width 0.8s;
  margin-top: 3px;
  background: $darkgrey;
  color: $lightgrey-on-dark;
  border: none;
}
nav input:focus {
	outline: 0;
}

.site-content {
	@include clearfix;
}
.site-content section {
  width: 65%;
  float: left;
  padding: 50px 0 50px 50px;
}
article {
	@include clearfix;
  margin-bottom: 50px;
}
article h2 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}
article img {
  width: 300px;
  float: left;
  margin: 0 30px 10px 0;
}
article p {
  font-size: 14px;
  line-height: 22.75px;
  margin-bottom: 15px;
}
aside {
  width: 35%;
  float: left;
  padding: 50px;
  font-size: 13px;
  line-height: 22.75px;
}
.widget {
	position: relative;
  margin: 0 0 25px 0;
}
.widget h3 {
  margin: 0;
  color: #666;
  font-weight: 500;
}
.widget p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.widget ul {
  margin-top: 0;
  padding-left: 20px;
}
.widget ul li {
  list-style: square;
}
.widget a img {
  display: inline-block;
  width: 121px;
  height: 121px;
}
.widget label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.widget input[type="email"] {
  background: #e5e5e5;
  border: 1px solid #b5b5b5;
  padding: 6px 1px;
}
.widget input[type="submit"] {
  color: $lightgrey-on-dark;
  padding: 6px;
  background: $darkgrey;
  background: linear-gradient(#252525, #0a0a0a);
  border: 1px solid #b5b5b5;
}

audio {
	max-width: 100%;
}
.widget .audio-progress {
	height: 10px;
	background-image: url(/images/progress.png);
	background-repeat: no-repeat;
	background-size: 200% 90%;
	background-position: 100% 0%;
	//cursor: pointer;
}
.widget .playpause {
	height: 18px;
	width: 18px;
	position: absolute;
	top: 2px;
	right: 0px;
	background-image: url(/images/playpause.png);
	background-size: 100%;
	background-position: 0% 0%;
}
.widget .audio-nav {
	color: $primary;
	font-weight: bold;
}
.widget .audio-nav:hover {
	//text-decoration: none;
	cursor: pointer;
}
.widget .audio-list p a {
	padding: 0 10px;
}
#audio-prev {
	position: absolute;
	left: 0;
}
#audio-next {
	position: absolute;
	right: 0;
}
.widget .audio-list ul {
	padding: 0;
}
.widget .audio-list li {
	display: none;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
}
.widget .audio-list li.playing {
	display: block;
}