*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
@mixin clearfix {
	&:after {
		content:'.';
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
}

a {
	color: #7e1600;
	font-size: inherit;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url(/images/vierge-vesperis-image-de-fond.jpg) no-repeat center center fixed;
	background-size: cover;
	color: #373737;
  > .container {
		background: white;
		max-width: 1000px;
		margin: 20px auto;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
		> header {
			width: 100%;
			padding: 23px;
			> div {
				display: inline-block;
				vertical-align: middle;
			}
			.avatar, .avatar img {
				width: 80px;
				height: 80px;
			}
			.title {
				margin: 0 25px;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				h1 {
					padding: 0;
					margin: 0;
					font-weight: bold;
					color: #111;
					font-size: 30px;
				}
				p {
					font-size: 15px;
					font-weight: normal;
				}
			}
			.search {}
		}
		> .cover, .cover img {
			width: 100%;
			height: 288px;
		}
	}
}

nav {
	background: #222;
	background: linear-gradient(#252525, #0A0A0A);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
	padding-left: 54px;
	ul { margin: 0; padding: 0; }
	li {
		display: inline-block;
	}
	a {
		color: #eee;
		height: 40px;
		line-height: 40px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 13px;
		font-weight: normal;
		text-decoration: none;
		padding: 0 16px 0 12px;
	}
	li.active a {
		font-weight: bold;
		color: #bb3e00;
	}
	li:hover {
		color: #222;
		background: #ddd;
		background: linear-gradient(#eee, #bbb);
		a {
			color: #222;
			text-decoration: none;
		}
		&.active a {
			color: #7e1600;
		}
	}
}

.content {
	@include clearfix;
	section {
		width: 65%;
		float: left;
		padding: 50px 0 50px 50px;
		article {
			@include clearfix;
			margin-bottom: 50px;
			h2 {
				display: block;
				font-size: 18px;
				font-weight: bold;
				margin-top: 0;
				a {
					//text-decoration: none;
					//color: inherit;
				}
			}
			figure img {
				width: 300px;
				float: left;
				margin: 0 30px 10px 0;
			}
			h5, p {
				font-size: 14px;
				line-height: 22.75px;
				margin-bottom: 15px;
			}
			h5 {
				font-weight: bold;
			}
		}
	}
	aside {
		width: 35%;
		float: left;
		padding: 50px;
		font-size: 13px;
		line-height: 22.75px;
		div {
			margin: 0 0 25px 0;
			h3 {
				margin:0;
				color: #666;
				font-weight: 500;
			}
			p {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 14px;
			}
			ul {
				margin-top:0;
				padding-left: 20px;
				li {
					list-style: square;
				}
			}
			a img {
				display: inline-block;
				width: 121px;
				height: 121px;
			}
			label {
				position: absolute;
				overflow: hidden;
				clip: rect(0 0 0 0);
				height: 1px;
				width: 1px;
				margin: -1px;
				padding: 0;
				border: 0;
			}
			input[type="email"] {
				background: #e5e5e5;
				border: 1px solid #b5b5b5;
				padding: 6px 1px;
			}
			input[type="submit"] {
				color: #eee;
				padding: 6px;
				background: #222;
				background: linear-gradient(#252525, #0A0A0A);
				border: 1px solid #b5b5b5;
			}
		}
	}
}